.top{
    font-size: 50px;
    font-family:lucida calligraphy;
    background-color: grey;
    color: black;
    display: flex;
    align-items:flex-end;
    justify-content:left;
    height: 100px;
    width: 100%;
    
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.one{
    display: flex;
}
.apps{
    display: flex;
    margin-left: 750px;
    position: fixed;
}
a{
    text-decoration: none;
    
}
.view{
    color: rgb(13, 13, 90);
    margin: top 70px;
    margin-right: 50px;
    
    
    
}
ul{
    list-style-type: none;
    margin: 10px;
}
.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header-button{
    height: 60px;
    width: 10%;
    background-color:gray;
    padding: 1rem;
    border: 20px;
    cursor: pointer;
    outline:none;
    margin: 2px;
    list-style-type: none;
    border-radius: 10px;


}
.header-button:hover{
    background-color: rgb(19, 19, 87)

}
.main{
    margin-bottom: 10rem;
    padding-bottom:25rem ;
    border-bottom: 1px solid orange;
}
.heading{
    height: 50%;
    position: relative;
}
.heading>img{
    width: 100%;
    max-height: 45rem;
    object-fit: cover;
}
.heading-content{
    position: absolute;
    background-color:transparent;
    top: 50%;
    right: 10%;
    width: 20rem;
    padding: 3rem;
    color:grey;
}
.heading-content>h1{
    font-size: 5rem;
    font-weight:600px;
    margin-bottom: 1rem;
    color: grey;
    
}
.heading-content>p{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}
.heading-button{
    height: 2rem;
    width: 6rem;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(18, 18, 94);
    border: 1px solid grey;
    cursor: pointer;
    outline: none;
    display: flex;
    
}
.heading-button:hover{
    background-color: rgb(159, 159, 231);
}
.heading-button:active{
    background-color: blueviolet;
    box-shadow: 1px 3px 4px ;
    transform: translate(3px);
}
.mid{
    height: 50vh;
    margin-top: 0;
    position:relative;
    padding: 4rem;
}
.mid>img{
    display: block;
    margin-top: 2rem;
    margin-left: 50%;
    margin-right: 50%;
    width:60%;
    height:15rem;
    object-fit: cover;
    
}
.mid-content{
    background-color:tan;
    position: absolute;
    top: 100%;
    right:70%;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
}
.mid-content>h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(20, 20, 72);
}
.mid-content>p{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;

}
.top-content{
    background-color: transparent;
    position: absolute;
    top: 250%;
    left: 70%;
    width: 20rem;
    height: 20rem;
    padding: 3rem;
}
.top-content>h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(15, 15, 66);
}
.top-content>p{
    font-size: 1rem;
    margin-bottom:1rem;
    line-height: 1rem;
    font-weight: 200;

}
.review{
    position: absolute;
    top: 1;
    left: 50%;
    text-align: center;
    transform: translate(50%);
    float: left;
    
}
.review-container{
    margin-top: 10rem;
    width: 30rem;
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:whitesmoke;
    border: 2px solid grey;
    float: left;
}
.quote-pic{
    height:5rem;
    width: 5rem;
    border-radius: 9rem;
    margin-right: 20%;
    margin-top: 5%;
}
.review-score{
    width: 14rem;

}
.review-container>h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(19, 19, 105);
    display: flex;
    float: left;
    
    
}
.review-container>h4{
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: rgb(9, 9, 88);
    text-decoration: none;
    
}
.review-guests{
    display: flex;
    align-items: center;

}
.quote{
    background-color:tan;
    padding: 2.5rem;
    max-width: 25rem;
    position: relative;
}
.middle-content{
    background-color:grey;
    position: absolute;
    top: 30%;
    width: 20rem;
    height: 20rem;
    right: 60%;
    padding: 2rem;

}
.middle-content>h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(198, 59, 34);
}
.middle-content>h3{
    margin-bottom:1rem;
    font-size: 1rem;
    font-weight: 2oo;
    
}
.middle-content>p{
    line-height: 1rem;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.top-content{
    position: absolute;
    background-color: teal;
    top:220%;
    width: 20rem;
    height: 10rem;
    padding:2rem;
    left:70%;
    object-fit: cover;
}
.sparoom{
    height: 50vh;
    margin-top: 0;
    position: relative;
    padding: 4rem;
}
.sparoom>img{
    display: block;
    margin-top:10rem;
    margin-left: 70%;
    margin-right:50%;
    width:40%;
    height:20rem;
    object-fit: cover;
    display: flex;
    
}
.sub{
    position: absolute;
    background-color: grey;
    height:15rem;
    width:20rem;
    top: 220%;
    padding: 2rem;
    right:60%;
    object-fit: cover;
}
.bar{
    height: 50vh;
    margin-top:0;
    position: relative;
    padding: 4rem;
}
.bar>img{
    display: block;
    object-fit: cover;
    width: 40%;
    height: 15rem;

}

    

.detail{
    position: absolute;
    background-color: grey;
    height: 10rem;
    margin-top: 2rem;
    width: 40rem;

}
.detail>p{
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
.final{
    height: 50vh;
    margin-top: 0;
    position: relative;
    padding: 3rem;
    background-image: url(people.jpg);
    background-size: cover;
    background-position: center;
}
.final>img{
    display: block;
    width: 50%;
    height: 20rem;
    object-fit: cover;
    margin-top: 1rem;
    justify-items: center;
    margin-left: 70%;
}
.matter>h2{
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 400;
    color:darkblue;
    

}
.matter>h3{
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 200rem;
    color: grey;
}
.matter>p{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 100;

}


